{erl_opts, [debug_info, warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types}]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.

{dialyzer, [{warnings, [unmatched_returns, error_handling, race_conditions, underspecs]},
            {get_warnings, true}]}.

{deps, [gen_fsm_compat]}.
{plugins, [{rebar_erl_vsn, "~>0.2.0"}]}.
{profiles,
 [{test, [{erl_opts, [nowarn_export_all]}]}]}.
